@import url("https://rsms.me/inter/inter.css");

html {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  @include tab {
    font-size: 16px;
  }
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body {
  font-weight: normal;
  color: var(--text-color);
  min-height: 100vh;
  min-width: 100vw;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  background-color: #fff;
  overflow-x: hidden;
}

p {
  font-size: 1rem;
  line-height: 1.7;
  letter-spacing: 0.0583333px;
}

a {
  color: var(--main-text-color);

  &:hover {
    color: var(--text-dark);
  }
}

.text-center {
  text-align: center;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.reset-ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  padding: 8px 30px;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.2s ease;

  &:hover {
    color: #fff;
    background-color: var(--text-color);
  }
}

.position-relative {
  position: relative;
}

.display-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}
.align-items-end {
  align-items: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.cursor-pointer {
  cursor: pointer;
}
