@import url("https://rsms.me/inter/inter.css");

html {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  @include tab {
    font-size: 16px;
  }
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

body {
  font-weight: normal;
  color: var(--theme-light-text);
  min-height: 100vh;
  min-width: 100vw;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  background-color: var(--theme-light-bg);
  overflow-x: hidden;
}

p {
  font-size: 1rem;
  line-height: 1.7;
  letter-spacing: 0.0583333px;
}

a {
  color: var(--main-text-color);

  &:hover {
    color: var(--text-dark);
  }
}

.text-center {
  text-align: center;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.pointer {
  cursor: pointer;
}

// have to remove later
.my-container {
  max-width: 1180px;
  padding: 0 15px;
  margin: 0 auto;
}

.reset-ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--text-color);
  border: 1px solid var(--text-color);
  padding: 8px 30px;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.2s ease;

  &:hover {
    color: var(--color-white);
    background-color: var(--text-color);
  }
}

.not-found {
  min-height: 50vh;
  align-items: center;
  justify-content: center;
  display: flex;
  background-color: #f1f1f1;
  p {
    font-weight: 900;
    font-size: 60px;
    line-height: 1;
    max-width: 255px;

    span {
      margin-top: 15px;
      display: block;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.4;
    }
  }
  @include tab {
    min-height: calc(100vh - 217px);
  }
}
