.info {
  padding-top: 23px;
  padding-bottom: 40px;
  @include tab {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.info__content {
  max-width: 800px;

  p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0;
    font-weight: 300;
  }

  @include tab {
    p {
      font-size: 36px;
    }
  }
}


.work {
  padding-top: 40px;
  padding-bottom: 40px;

  h2 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 35px;
    letter-spacing: 1px;
  }

  .work__items {
    display: block;
    max-width: 790px;
  }

  .work__item {
    display: block;
    font-size: 28px;
    text-decoration: none;
    position: relative;
    padding-right: 30px;

    &:hover .work__item__arr {
      opacity: 1;
    }

    & + .work__item {
      margin-top: 40px;
    }
  }

  .work__item__title {
    font-weight: 600;
    font-size: 28px;
    line-height: 1.6;
    color: var(--color-white);

    span {
      display: block;
      font-weight: 400;
      font-size: 14px;
      //color: #E0EAFF;
    }
  }

  .work__item__arr {
    position: absolute;
    right: 0;
    top: 7px;
    opacity: 1;
    transition: opacity .25s ease;
  }

  @include tab {
    padding-top: 70px;
    padding-bottom: 70px;
    .work__items {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 45px 122px;
    }
    .work__item {
      & + .work__item {
        margin-top: 0px;
      }
    }
    .work__item__title {
      font-size: 32px;
    }

    .work__item__arr {
      opacity: 0;
      top: 17px;
    }
  }

}




