.home-page {
  background-color: #1b1d20;
  color: #cecece;

  .work .work__item__title span {
    color: #cecece;
  }

  .my-nav .menu a:hover {
    color: #fff;
  }

  .my-header__name a {
    color: var(--color-white);
  }
}
