:root {
  --bg-color: #fff;
  --text-color: #1b1d20;
  --text-light: #666666;
  --color-white: #fff;
  --color-work: #1b1d20;
}

// Breakpoints
$bp-small: 768px; //tab
$bp-medium: 1024px; //air
$bp-large: 1366px; // desktops
$bp-largeHd: 1920px;
$bp-large2k: 2560px;
$bp-large4k: 3840px;

@mixin tab {
  @media only screen and (min-width: $bp-small) {
    @content;
  }
}

@mixin air {
  @media only screen and (min-width: $bp-medium) {
    @content;
  }
}

@mixin desktops {
  @media only screen and (min-width: $bp-large) {
    @content;
  }
}

@mixin desktops-hd {
  @media only screen and (min-width: $bp-largeHd) {
    @content;
  }
}

@mixin desktops-2k {
  @media only screen and (min-width: $bp-large2k) {
    @content;
  }
}

@mixin desktops-4k {
  @media only screen and (min-width: $bp-large4k) {
    @content;
  }
}

@mixin tabMM {
  @media only screen and (max-width: $bp-small - 1) {
    @content;
  }
}

@mixin airMM {
  @media only screen and (min-width: $bp-medium - 1) {
    @content;
  }
}

@mixin desktopsMM {
  @media only screen and (min-width: $bp-large - 1) {
    @content;
  }
}

@mixin desktops-hdMM {
  @media only screen and (min-width: $bp-largeHd - 1) {
    @content;
  }
}

@mixin desktops-2kMM {
  @media only screen and (min-width: $bp-large2k - 1) {
    @content;
  }
}

@mixin desktops-4kMM {
  @media only screen and (min-width: $bp-large4k - 1) {
    @content;
  }
}
