.work-head {
  background-color: var(--color-work);
  .my-container {
    position: relative;
  }
  .work-head__title {
    padding: 40px 0 20px;
    color: #fff;
  }
  h1 {
    margin: 0;
    font-size: 2.5rem;
  }
  p {
    margin: 5px 0 0;
  }

  @include tab {
    .work-head__title {
      padding: 120px 0 40px;
    }
    h1 {
      font-size: 3rem;
    }
    p {
      margin-top: 10px;
    }
  }
}

.back-btn {
  background-color: var(--color-work);
  display: block;
  color: var(--color-white);
  text-decoration: none;
  display: flex;
  align-items: center;

  &:hover {
    color: var(--color-white);
    opacity: 0.8;
  }
  svg {
    margin-right: 10px;
    path {
      fill: #fff;
    }
  }

  @include tabMM {
    padding: 30px 0 0;
  }
  @include tab {
    font-weight: 600;
    font-size: 16px;
    position: absolute;
    top: 50px;
    left: 15px;
    display: inline-flex;
  }
}

.work-content {
  padding: 30px 0 20px;
  .wc__item {
    & + .wc__item {
      margin-top: 40px;
    }
  }
  .wc__title {
    padding: 0 0 10px 0;
    position: relative;
    &:after {
      content: "";
      height: 1px;
      background-color: var(--text-color);
      position: absolute;
      bottom: 0;
      left: 0;
      opacity: 0.6;
      width: 100%;
      max-width: 500px;
    }
    h3 {
      margin: 0;
      font-size: 1.8rem;
    }
    p {
      font-size: 0.875rem;
      margin: 5px 0 0;
      font-weight: 300;
    }
  }

  .wc__info {
    opacity: 0.6;
    margin: 15px 0 0;
    li {
      & + li {
        margin-top: 15px;
      }
    }
  }
  p.wc__info + p.wc__info {
    margin-top: 10px;
  }
  @include tab {
    padding: 60px 0 40px;
    .wc__title {
      padding-bottom: 15px;
      h3 {
        font-size: 2rem;
      }
    }
  }
}

.scroll-info {
  p {
    text-align: right;
    padding: 5px 20px;
    font-size: 0.75rem;
    margin: 0;
    letter-spacing: 1px;
  }
}

.horizontal-images-wrapper {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-work);
    opacity: 0.3;
  }
}

.horizontal-images {
  overflow: auto;
  white-space: nowrap;
  display: flex;
  padding: 5px;
  position: relative;
  & > div {
    padding: 5px;
    img {
      height: 40vh;
      width: auto;
    }
  }
  @include tab {
    & > div {
      img {
        height: 60vh;
        background: rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.lets-talk {
  padding-top: 60px;
  padding-bottom: 25px;

  .btn {
    color: var(--color-work);
    border-color: var(--color-work);
    &:hover {
      color: var(--color-white);
      background-color: var(--color-work);
    }
  }

  @include tab {
    padding-top: 120px;
    padding-bottom: 45px;
  }
}

.home-btn {
  background-color: var(--color-work);
  padding-top: 30px;
  padding-bottom: 30px;
  a {
    display: inline-block;
    color: var(--color-white);
    font-weight: 600;
    font-size: 14px;
    line-height: 1.6;
    text-decoration: none;
    text-align: center;

    span {
      display: block;
      margin-top: 5px;
    }
  }

  @include tab {
    padding-top: 42px;
    padding-bottom: 42px;
    a {
      font-size: 16px;
    }
    span {
      //
      margin-top: 12px;
    }
  }
}

.theme-light {
  .work-head__title,
  .back-btn,
  .home-btn a {
    color: var(--text-color);
  }

  .back-btn svg path,
  .home-btn svg path {
    fill: var(--text-color);
  }
}
