.back-btn {
  background-color: var(--color-work);
  display: block;
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;

  &:hover {
    color: #fff;
    opacity: 0.8;
  }
  svg {
    margin-right: 10px;
    path {
      fill: #fff;
    }
  }

  @include tabMM {
    padding: 30px 0 0;
  }
  @include tab {
    font-weight: 600;
    font-size: 16px;
    position: absolute;
    top: 50px;
    left: 15px;
    display: inline-flex;
  }
}

.theme-light {
  .work-head__title,
  .back-btn,
  .home-btn a {
    color: var(--text-color);
  }

  .back-btn svg path,
  .home-btn svg path {
    fill: var(--text-color);
  }
}
